<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller_name %>'>
	<div id="banner">
	  	<%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
	  	<span class="title"><%= @page_title %></span>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://www.google.com">Home</a>></li>
				<li><a href="http://www.google.com">Question</a>></li>
				<li><a href="http://www.google.com">News</a>></li>
				<li><a href="http://www.google.com">Contact</a>></li>
			</ul>
		</div>		

		<div id="main">
    		<%= yield %>
    	</div>
	</div>

    
  </body>
</html>
